body
{
    background-color: rgb(252, 172, 0);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
h2
{
    color: blue;
}
#camera
{
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}
button
{
    width: 200px;
    height: 40px;
    background-color: dodgerblue;
}
label
{
    font-size: 25px;
}